* {
  box-sizing: border-box !important;
}
body {
  font-family: 'Open Sans', sans-serif;

}
article {
  padding: 0 0.5rem 0 0.75rem;
  margin: 0 auto;
}
section {
  box-sizing: border-box;
}
h1,
h2 {
  letter-spacing: 0.25rem;
}
h3,
h4 {
  letter-spacing: 0.125rem;
  padding: 0 0.5rem;

}
h4 {
  font-style: italic;
  font-weight: normal;
}
ul {
  padding: 0 0 0 1.125rem;
  transition: all 250ms;
  position: relative;
  left: 0;
}
ul:hover {
  /*background-color: #bc5800;*/
  /*left: -5px;*/
}
ul li {
  letter-spacing: 0.125rem;
  list-style-type: none;
  padding: 0 0 0.5rem 0;
  /*transition: background-color 250ms;*/
  
}
ul li:hover {
  /*background-color: #ffd2aa;*/
  /*left: -5px;*/
}
.filter {
  text-align: right;
}
.filter p {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.filter p:after {
  content: "_";
  font-weight: normal;
}
.filter p:last-child:after {
  content: " ";
}
ul.skills {
  overflow: hidden;
  padding-bottom: 0.75rem;
}
.skills li,
.degree {
  font-style: italic;
}
span.disclaim {
  color: lightgray;
}
span.position {
  font-weight: bold;
  text-transform: uppercase;
}
span.no-transform {
  text-transform: none;
}
span.when {
  display: block;
  text-align: right;
  margin-bottom: 0.25rem;
}
span.when:before {
  content: "[ ";
  font-weight: bold;
}
span.when:after {
  content: " ]";
  font-weight: bold;
}
.fa-envelope {
  /*color: skyblue;*/
  color: #000;
}
.fa-envelope:hover {
  /*color: lightblue;*/
  color: lightgray;
}

section > ul {
  /*transition: all linear 250ms;*/
}

.item {
  position: relative;
}
.fa-plus, .fa-minus {
  cursor: pointer;
  position: absolute;
  left: -1.5rem;
  top: 0.13rem;
  transition: all 250ms;
}
.fa-plus:hover, .fa-minus:hover {
  transform: rotate(40deg);
}

.bold {
  font-weight: bold;
}

.hidden {
  /*display: none;*/
  max-height: 0;
}
.active {
  /*display: block;*/
  max-height: 999px;
}



@media screen and (min-width: 375px) {

  article {
    width: 90%;
  }

}



@media screen and (min-width: 425px) {

  article {
    width: 70%;
  }

}



@media screen and (min-width: 768px) {

  article {
    width: 55%;
  }

}